<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <table class="table table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th><%= datetime_range(start_time, end_time) %></th>
      </tr>
    </thead>
    <tbody>
      <% categories.each do |category| %>
        <tr>
          <td scope="row"><%= link_to category.id, category_detail_path(category) %></td>
          <td><%= category.name %></td>
          <td><%= category.users.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-pagy">
  <%== pagy_bootstrap_nav(pagy) %>
</div>
