<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>Id</th>
          <th>_id</th>
          <th>name</th>
          <th>username</th>
          <th>Category</th>
          <th>Created at</th>
        </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td scope="row"><%= user.id %></td>
              <td><%= user._id %></td>
              <td><%= user.name %></td>
              <td><%= user.usename %></td>
              <td><%= user.category.name %></td>
              <td><%= user.created_at %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-pagy">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
