<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= form_tag root_path, method: :get, id: "id_form_user" do %>
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th><%= select_tag :name, options_for_select([
              {name: "DESC", id: "desc"}, {name: "ASC", id: "asc"}].map { |obj| [obj[:name], obj[:id]] }, params["name"]), prompt: "Name", id: "id_sort_name" %></th>
          <th>Price</th>
          <th>
            <%= select_tag :numOfRatings, options_for_select([
              {name: "DESC", id: "desc"}, {name: "ASC", id: "asc"}].map { |obj| [obj[:name], obj[:id]] }, params["numOfRatings"]), prompt: "numOfRatings", id: "id_sort_rating" %>
          </th>
          <th>temporarilyUnavailable</th>
          <th>Image</th>
          <th>Profession</th>
          <th>Category</th>
          <th>
            <%= select_tag :created_at, options_for_select([
            {name: "DESC", id: "desc"}, {name: "ASC", id: "asc"}].map { |obj| [obj[:name], obj[:id]] }, params["created_at"]), prompt: "Created at", id: "id_created_at" %>
          </th>
          <th>Details</th>
          <th>Cameo</th>
        </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= "$ #{user.price / 100}" %></td>
              <td><%= user.numOfRatings %></td>
              <td><%= temporarilyUnavailable?(user.temporarilyUnavailable) %></td>
              <td><%= image_tag user.imageUrl, class: "rounded-circle image" %></td>
              <td><%= user.profession %></td>
              <td><%= show_category(user.categories) %></td>
              <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= link_to "View", user_detail_path(user._id) %></td>
              <td><%= link_to "Link", "https://cameo.com/#{user.username}", target: "blank" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  <% end %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-pagy">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
