<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">Cameo</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to  "Crawl", crawl_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to  "Export excel", export_data_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to  "Statistic stars", statistic_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to  "Category", category_path, class: "nav-link" %>
      </li>
    </ul>
    <%= form_with url: root_path, method: :get, local: true, id: "id_form_search", class: "form-inline my-2 my-lg-0" do |form| %>
      <%= form.text_field :keyword, value: params["keyword"], id: "id_keyword", class: "form-control mr-sm-2", placeholder: "Enter name" %>
      <%= form.submit "Search", class: "btn btn-outline-success my-2 my-sm-0", id: "id_submit_search", data: { disable_with: false } %>
    <% end %>
  </div>
</nav>
